@page
@model ThemeParkDatabase.Pages.WeatherAudits.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>WeatherAudit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WeatherAudit.WeatherAuditId" class="control-label"></label>
                <input asp-for="WeatherAudit.WeatherAuditId" class="form-control" />
                <span asp-validation-for="WeatherAudit.WeatherAuditId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="WeatherAudit.Id" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="WeatherAudit.Rainout" /> @Html.DisplayNameFor(model => model.Rainout)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="WeatherAudit.Temperature" class="control-label"></label>
                <input asp-for="WeatherAudit.Temperature" class="form-control" />
                <span asp-validation-for="WeatherAudit.Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherAudit.InchesPrecipitation" class="control-label"></label>
                <input asp-for="WeatherAudit.InchesPrecipitation" class="form-control" />
                <span asp-validation-for="WeatherAudit.InchesPrecipitation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherAudit.Date" class="control-label"></label>
                <input asp-for="WeatherAudit.Date" class="form-control" />
                <span asp-validation-for="WeatherAudit.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

