@page
@model ThemeParkDatabase.Pages.Vendors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">Vendor - Edit</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Vendor.Id" />
            <div class="form-group">
                <label asp-for="Vendor.Description" class="control-label"></label>
                <input asp-for="Vendor.Description" class="form-control" />
                <span asp-validation-for="Vendor.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!-- <label asp-for="Vendor.LocationId" class="control-label"></label> -->
                <label class="control-label">Vendor</label>
                <select asp-for="Vendor.LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="Vendor.LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!-- <label asp-for="Vendor.VendorTypeId" class="control-label"></label> -->
                <label class="control-label">Vendor Type</label>
                <select asp-for="Vendor.VendorTypeId" class="form-control" asp-items="ViewBag.VendorTypeId"></select>
                <span asp-validation-for="Vendor.VendorTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
      <!-- /.box-body -->
      <div class="box-footer">
          <a asp-page="./Index">Back to List</a>
      </div>
    </div>
    <!-- /.box -->
  </div>
  <!-- ./col -->
</div>
<!-- /.row -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
